<div style="margin: 0 auto; display: block; width: 100%;">
	<h2>Publish and Deploy to the Cloud</h2>
	<p>
		Before publishing your app to Teams App Catalog, you may want to provision and deploy your
		app's resources to the cloud to make sure your app will be running smoothly!
	</p>
	<p>
		For more information, see the <a href="https://aka.ms/teams-toolkit-vs-publish" target="_blank" rel="noreferrer">docs</a>.
	</p>
</div>

@code {

}
